.page {
    color: black;
    margin: 3px;
    padding: 2px
}

.page:hover {
    background-color: gray;
    border-radius: 3px;
}

.selectedPage {
    background-color: #40a9ff;
    color: black;
    font-weight: bold;
    border-radius: 3px;
    margin: 3px;
    padding: 2px
}

.pageNavigation {
    margin: 10px;
    text-align: center;
}

.pageNavigationLayer {
    display: inline-block;
    margin: 2.5px;
}

.pageNavigationLayer button {
    margin: 2.5px;
}

.pageSize {
    margin: 3px;
    padding: 2px
}

.pageSize:hover {
    background-color: gray;
    border-radius: 3px;
}

.selectedPageSize {
    background-color: #40a9ff;
    color: black;
    font-weight: bold;
    border-radius: 3px;
    margin: 3px;
    padding: 2px
}

