.header {
    grid-area: Header;
    background-color: #ffe86f;
}

.header img {
    width: 50px;
    margin-top: 4px;
}

.loginBlock {
    margin: 15px;
    float: right;
}

.loginBlock button {
    user-select: none;  
}

.loginBlock a {
    text-decoration: none;
    color: black;
}

.loginBlock a.activeLink {
    color: black;
    font-weight: bold;
}