.header {
    grid-area: Header;
    background-color: #ffe86f;
}

.image {
    text-align: center;
    background-color: white;
}

.loginBlock {
    float: right;
}

.loginBlock button {
    user-select: none;  
}

.loginBlock a {
    text-decoration: none;
    color: black;
}

.loginBlock a.activeLink {
    color: black;
    font-weight: bold;
}