.sidebar {
    grid-area: Sidebar;
    background-color: #ffe86f;
    padding: 10px;
    font-size: 25px;
    height: 500px;
}

.item a {
    color: #373737;
    text-decoration: none;
}

.item a.activeLink {
    color: black;
    text-shadow: black 0 0 2px;
}